@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(45deg, #E8CDC8, #FF7359);
    background-size: 300% 300%;
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(167, 52, 32, 0.467);
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A83520;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(87, 27, 17, 0.782);
}

h2 {
    color: #FF7359;
}

p {
    text-align: justify;
}